<script>
        function div(a,b){
            return a/b;
        }
        var a = div(20,20);
        document.write(a);
    
            document.write("<br/>");
        function mul(a,b){
            return a*b;
        }
        var a = mul(20,20);
        document.write(a);
    
    
        document.write("<br/>");
            function add(a,b){
                return a+b;
            }
            var a = add(20,20);
            document.write(a);
            document.write("<br/>");
        function min(a,b){
            return a-b;
        }
        var a = min(50,20);
        document.write(a);
    </script>